<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ee6f7703-aa43-4e1d-8382-963831b909b6" Publisher="CN=Rob" Version="0.1.0.0" />
  <Properties>
    <DisplayName>WinEbook</DisplayName>
    <PublisherDisplayName>Rob Williamson</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinEbook.App">
      <VisualElements DisplayName="Win eBook" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A Windows 8 eBook reader." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Win eBook" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="ebook">
            <DisplayName>eBook</DisplayName>
            <InfoTip>Electronic Publication File for eBooks</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="application/epub+zip">.epub</FileType>
              <FileType ContentType="text/plain">.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>